.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    
}

/*Significa que quando o tamanho da tela for menor que 768px, o grid-template-columns vai ser 1fr, ou seja, uma coluna só.*/
/*Acima nós temos o grid-template-columns: 256px 1fr, ou seja, duas colunas, uma com 256px e outra com 1fr.